@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

:root {
  --background: rgb(67, 67, 255,0); 
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  --event-background: #ecf8f8;
}

[data-theme="dark"] {
  --background: #000000;
  --text-primary: rgb(255, 255, 255);
  --text-secondary: grey;
  --accent: darkred;
  --event-background: #001219;
}


//Card Styles
.flexCard{
  background-color: var(--event-background);
  margin-top: 100px;
  padding: 15px;
  border-radius: 20px;
}

.cardHeader{
  
  font-size: 17px;
  font-weight: bold;
  line-height: 40px;
}

.cardTitle{
  border-right: 2px solid;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cardTitle:hover{
  border-right: 3px solid rgb(12, 229, 245);
}


.cardIcon{
  text-align: center;
}

.imageWrapper{
  text-align: center;
}

.cardImage{
  max-height: 100%;
  max-width: 100%;
} 

.contentText {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
} 

.contentText h3{
  color:var(--text-primary);
  font-size: 30px;
  font-weight: bolder;
} 

.contentText p{
  font-size: 15px;
  font-weight: bold;
} 

  


//Gallery


.gallery{
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column{
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

}

.inner{
  display: inline-block;

}

.column img{
  padding: 5px;
  transition: transform 1s;
  

}

.column img:hover{
  transform: scale(1.5,1.5);
  border-radius: 10px;
}








//Info

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 80%;
}

.infoContent{
  line-height:0.9;
}

.handWritten{
  margin-top: 30px;
  font-family: 'Beau Rivage', cursive;
  font-size: 4em;
}


.title{
  font-size: 5em;
  
}

.infoImg img{
max-width: 100%;
max-height: 100%;
object-fit: cover;
opacity:0.8
}

.infoBtn{
  display: flex;
  justify-content: space-around;
}




