:root {
  --text-primary: black;
  --text-secondary: white;
  --accent: purple;
  --event-background: #001d3d;
}
[data-theme="dark"] {
  --text-primary: #fff;
  --text-secondary: black;
  --accent: darkred;
  --event-background: #ffffff;
}

.events {
  margin-top: 200px;
  padding-bottom: 850px;
  display: flex;
}

.content{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  z-index: -1;
  padding: 0 100px;

}

.images{
  height: 100vh;
  display: flex;
}

.image{
  background-color: antiquewhite;
  border: 1px solid black;
  width: 10%;
  transition: width 1s;
  overflow: hidden;
  

}
.image:hover{
  z-index: 1;
  position: relative;
  width: 40%;
  & span{
    opacity: 0;
  }
}

.image span{
  margin: 0;
  display: inline-block;
  height: 100%;
  font-size: 50px;
  writing-mode: vertical-lr;
  text-align: center;
  transition: opacity 300ms;
}

// .image img{
//   max-width: 800px;
//   max-height: 100%;
//   transition: filter 500ms;
// }



// .image:hover ~ .image img{
//   filter: brightness(0.5);
// }

// .image:hover img{
//   filter: brightness(0.5);
// }